@font-face {
	font-family: "Kanit";
	src: url("./fonts/Kanit/Kanit-Light.ttf");
}

* {
  font-family: 'Kanit', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#main {
  display: flex; 
  min-height: 100vh;
  background-color: linear-gradient(to bottom left,#216e93,#0789d5)
}
.toggle-button {
  list-style: none;
  padding: 5px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  border-radius: 50px;
  background-color: hsla(0,0%,100%,.13)
}
.toggle-button li {
  display: block;
  float: left;
  margin-left: 35px;
  height: 45px;
  width: 100%;
}
.toggle-button li:first-child {
  margin-left: 0;
}
.toggle-button label {
  display: block;
  color: white;
  opacity: 1;
  font-size: 16pt;
  line-height: 1.5;
  text-align: center;
  padding: 8px 10px;
  margin-bottom: 0;
  border-radius: 50%;
  cursor: pointer;
}
.toggle-button li.active label {
  background-color: #182142;
  border-radius: 50px;
  color: white;
}
a {
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
