.card-stats {
  width: 100%;
  border-radius: 7px;
  background-color: rgb(0, 41, 63);
  color: white;
}
.card-stats .card-icon{
  background-color: #17a2b8!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-value {
  font-size: 50pt;
}

@media only screen and (max-width: 768px)  {
  .card-stats {
    width: 100%;
  }
}
