.summary-card {
  display: flex;
  justify-content: space-evenly;

}
.donut-card {
  background-color: #2b2f34;
  padding: 15px;
}

.donut-card > h2 {
  color: black;
  background-color: white;
  width: max-content;
  padding: 15px;

}

.inner-donut-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #2b2f34;
  gap: 25px;
}

.donut-card:not(:first-child) {
  margin-top: 25px;
}

/* .total-donut-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.toggle-button {
  list-style: none;
  padding: 5px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  border-radius: 50px;
  background-color: hsla(0,0%,100%,.13)
}
.toggle-button li {
  display: block;
  float: left;
  margin-left: 35px;
  height: 45px;
  width: 100%;
}
.toggle-button li:first-child {
  margin-left: 0;
}
.toggle-button label {
  display: block;
  color: white;
  opacity: 1;
  font-size: 16pt;
  line-height: 1.5;
  text-align: center;
  padding: 8px 10px;
  margin-bottom: 0;
  border-radius: 50%;
  cursor: pointer;
}
.toggle-button li.active label {
  background-color: #182142;
  border-radius: 50px;
  color: white;
}
@media only screen and (max-width: 768px) {
  .summary-card {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
   
  }
  .inner-donut-card {
    display: flex;
    flex-direction: column;
  }
}